body {
    background-color: #eee;
    color: #555;
}

.backgroundColor{
    background-color: lightgrey;
    height: 100vh;
    background-image: url('https://media.istockphoto.com/photos/orange-dust-particles-explosion-on-black-background-color-powder-dust-picture-id1068792646?b=1&k=20&m=1068792646&s=170667a&w=0&h=8IFXTCu4asIFW1XTPwSjaqTrDx89azsf7PtEYWk_LM4=');
}

.wrapper{
    width: 100%;
    padding-top: 70px;
}

.heading{
    background-color: #fc7860;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 40vw;
    height: 40px;
    color: white;
}

.bodyContent{
    max-height: 400px;
    display: flex;
    justify-content: center;
}

.ulClass{
    list-style-type: none;
    margin-left: -40px;
    margin-bottom: 0;
}

.liClass{
    height: 60px;
    width: 40vw;
    background-color: #3b3c4f;
    border-bottom: 1px solid #5b5959;
    color: white;
    display: flex;
    align-items: center;
}

.profileimage{
    height: 40px;
    width: 8%;
    border-radius: 50%;
    margin: 0 15px 0 10px;
}

.itemName{
    display: block;
    text-transform:capitalize;
}

.spanClass{
    color: #fc7860;
    margin-right: 4px;
}

.FlexBoxWrapper{
    display: flex;
}

.centercontent{
    width: 70%;
}

.percentage{
    border: 2px solid #fc7860;
    margin-top: 5px;
    margin-right: 5px;
}

.pointsValue{
    color: white;
    width: 20%;
    justify-content: center;
    display: flex;
}
